@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.link-no-underline {
  text-decoration: none;
  color: inherit;
}

.link-no-underline:hover {
  text-decoration: underline;
}
